<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}


<h1>Hi, {{ g.user.username }}!</h1>

<p></p>
{% include 'flash.html' %}
<div class="well">
    <form class="form-horizontal" action="" method="post" name="post">
        {{form.hidden_tag()}}
        <table class="table table-hover">
            <tr>
                <td>
                    <a href="{{url_for('user', username = user.username)}}"><img src="{{user.avatar(140)}}"></a>
                </td>
                <td>
                    <div class="control-group{% if form.errors.post %} error{% endif %}">
                        <label class="control-label" for="post">Say something:</label>
                        <div class="controls">
                            {{ form.body(size = 30, maxlength = 140) }}
                            {% for error in form.errors.body %}
                                <span class="help-inline">[{{error}}]</span><br>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input class="btn btn-primary" type="submit" value="Post!">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>

{% for post in posts.items %}
    {% include 'post.html' %}
{% endfor %}
{% if posts.has_prev %}
<a href="{{ url_for('index', page = posts.prev_num) }}"><< Newer posts</a>
{% else %}
<< Newer posts
{% endif %}
page {{ posts.page }}
{% if posts.has_next %}
<a href="{{ url_for('index', page = posts.next_num) }}">Older posts >></a>
{% else %}
Older posts >>
{% endif %}

{% endblock %}